<template>
<q-page class="q-pa-md">
  <base-page-title title="Заявки на выплаты"/>
  <payments-table />
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import PaymentsTable from 'components/payments/payments-table/payments-table'
export default {
  name: 'Payments',
  components: { PaymentsTable, BasePageTitle }
}
</script>

<style scoped>

</style>
