<template>
  <div class="orders-date-range row q-col-gutter-md">
    <div class="col-12">
      <p class="text-subtitle1 text-bold">Период:</p>
    </div>

    <!--  Start date-->
    <div class="col-6">
      <q-btn
        :label="dateFromDisplayValue"
        icon="event"
        color="primary"
        no-caps
        class="full-width"
      >
        <q-popup-proxy transition-show="scale" transition-hide="scale">
          <q-date v-model="dateFrom">
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Отмена" color="primary" flat v-close-popup/>
              <q-btn label="OK" color="primary" flat v-close-popup/>
            </div>
          </q-date>
        </q-popup-proxy>
      </q-btn>
    </div>

    <!--  End date-->
    <div class="col-6">
      <q-btn
        :label="dateToDisplayValue"
        icon="event"
        color="primary"
        class="full-width"
      >
        <q-popup-proxy transition-show="scale" transition-hide="scale">
          <q-date v-model="dateTo">
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Отмена" color="primary" flat v-close-popup/>
              <q-btn label="OK" color="primary" flat v-close-popup/>
            </div>
          </q-date>
        </q-popup-proxy>
      </q-btn>
    </div>

  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'orders-date-range',
  computed: {
    ...mapState('orders', ['filters']),
    dateFrom: {
      get: function () {
        const vm = this
        return vm.$dayjs(vm.filters.dateFrom).format('YYYY/MM/DD')
      },
      set: function (value) {
        const vm = this
        vm.mutationsFilters({ field: 'dateFrom', value: vm.getDate(value) })
        vm.loadOrders()
      }
    },

    dateTo: {
      get: function () {
        const vm = this
        return vm.$dayjs(vm.filters.dateTo).format('YYYY/MM/DD')
      },
      set: function (value) {
        const vm = this
        vm.mutationsFilters({ field: 'dateTo', value: vm.getDate(value, true) })
        vm.loadOrders()
      }
    },

    dateFromDisplayValue () {
      return this.$dayjs(this.dateFrom).format('DD.MM.YYYY') + 'г.'
    },
    dateToDisplayValue () {
      return this.$dayjs(this.dateTo).format('DD.MM.YYYY') + 'г.'
    }
  },
  data () {
    return {
      startDate: null
    }
  },
  methods: {
    ...mapMutations('orders', ['mutationsFilters']),
    ...mapActions('orders', ['loadOrders']),
    getDate (value, to = false) {
      if (to) {
        const date = new Date(this.$dayjs.utc(value))
        date.setHours(23)
        date.setMinutes(59)
        date.setSeconds(59)
        return new Date(date)
      }
      return new Date(this.$dayjs.utc(value))
    }
  }
}
</script>

<style scoped>

</style>
