<template>
  <q-input
    label="Поиск"
    v-model="searchText"
    outlined dense clearable
    hint="ID заказа, ID или имя туриста, ID или имя продавца, ID тура, ID офера"
    class="q-my-md"
    @clear="mutationsFilters({field: 'searchText', value: ''})"
  />
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'orders-search',
  computed: {
    ...mapState('orders', ['filters']),
    searchText: {
      get: function () {
        return this.filters.searchText
      },
      set: function (value) {
        this.mutationsFilters({ field: 'searchText', value })
      }
    }
  },
  methods: {
    ...mapMutations('orders', ['mutationsFilters'])
  }
}
</script>

<style scoped>

</style>
