<template>
<div class="orders-status-select">
  <p class="text-subtitle1 text-bold">Статус:</p>
  <q-option-group
    v-model="ordersStatus"
    :options="filters.statusOptions"
    color="primary"
    class="q-mt-sm"
  />
</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'orders-status-select',
  computed: {
    ...mapState('orders', ['filters']),
    ordersStatus: {
      get: function () {
        return this.filters.status
      },
      set: function (value) {
        this.mutationsFilters({ field: 'status', value })
      }
    }
  },
  methods: {
    ...mapMutations('orders', ['mutationsFilters'])
  }
}
</script>

<style scoped>

</style>
