<template>
  <div>
    <q-btn
      label="Информация"
      icon="search"
      dense no-caps no-wrap
      class="q-mr-sm full-width"
      :loading="loading"
      @click="showDetailCard"
    />
    <q-dialog v-model="dialog">

      <q-card style="width: 550px; max-width: 100%">
        <q-toolbar class="bg-dark text-white">
          <q-toolbar-title>Информация</q-toolbar-title>
          <q-btn icon="close" dense flat v-close-popup/>
        </q-toolbar>
        <q-scroll-area style="height: 60vh" tabindex="10">
          <!--Profile-->
          <q-card-section class="">
            <base-section-title title="Покупатель"/>
            <div class="row items-center q-col-gutter-md">
              <div class="col-12 col-sm-6">
                <q-avatar square class="rounded-borders fit">
                  <q-img :src="profile.photo_url" class="rounded-borders"/>
                </q-avatar>
              </div>

              <div class="col-12 col-sm-6">
                <p>
                  Id: {{ profile.id }}
                  <copy-to-clipboard :value="profile.id"/>
                </p>
                <p>Имя: {{ profile.name }}</p>
                <p>Email: {{ profile.email }}</p>
                <p>Телефон: {{ profile.phone_number }}</p>
                <p>Язык: {{ profile.locale }}</p>
                <p>Баланс: {{ profile.balance }}$</p>
                <p>Зарегистрирован: {{ profile.createdAt | dateTimeFilter }}</p>
              </div>
            </div>
          </q-card-section>

          <q-separator spaced/>
          <!--    Seller-->
          <q-card-section v-if="seller.name">
            <base-section-title title="Продавец"/>
            <div class="row items-center q-col-gutter-md">
              <div class="col-12 col-sm-6">
                <q-avatar square class="rounded-borders fit">
                  <q-img :src="seller.photo_url" class="rounded-borders"/>
                </q-avatar>
              </div>

              <div class="col-12 col-sm-6">
                <p>
                  Id: {{ seller.id }}
                  <copy-to-clipboard :value="seller.id"/>
                </p>
                <p>Имя: {{ seller.name }}</p>
                <p>Email: {{ seller.email }}</p>
                <p>Телефон: {{ seller.phone_number }}</p>
                <p>Язык: {{ seller.locale }}</p>
                <p>Баланс: {{ seller.balance }}$</p>
                <p>Зарегистрирован: {{ seller.createdAt | dateTimeFilter }}</p>
              </div>
            </div>
          </q-card-section>

          <q-separator spaced/>
          <!--      Offer-->
          <q-card-section v-if="offer.id">
            <base-section-title title="Офер"/>
            <div class="row items-center q-col-gutter-md">
              <div class="col-12">
                <p>
                  Id: {{ offer.id }}
                  <copy-to-clipboard :value="offer.id"/>
                </p>
                <p>Тур: {{ tourName }}</p>
                <p>Цена (взр.): {{ offer.adult_price | priceFormatter }}</p>
                <p>Цена (дет.): {{ offer.child_price | priceFormatter }}</p>
                <p>Дата проведения: <span v-if="offer.date">{{ offer.date | dateTimeFilter }}</span> <span v-else>Доступен всегда</span>
                </p>
              </div>
            </div>
          </q-card-section>
        </q-scroll-area>
        <q-card-section>
          <q-btn label="закрыть" class="full-width" v-close-popup outline/>
        </q-card-section>
      </q-card>

    </q-dialog>
  </div>
</template>

<script>
import dateTimeFilter from 'src/filters/date-time-filter'
import priceFormatter from 'src/filters/price-filter'
import BaseSectionTitle from 'components/base-section-title'
import CopyToClipboard from 'components/utils/copy-to-clipboard'

export default {
  name: 'order-info-detail-card',
  components: { CopyToClipboard, BaseSectionTitle },
  filters: {
    dateTimeFilter, priceFormatter
  },
  props: {
    profile: {
      type: Object,
      default: () => {
      }
    },
    seller: {
      type: Object,
      default: () => {
      }
    },
    offer: {
      type: Object,
      default: () => {
      }
    },
    tourName: String
  },
  data () {
    return {
      dialog: false,
      loading: false
    }
  },
  methods: {
    async showDetailCard () {
      this.dialog = true
    }
  }
}
</script>
