<template>
<div class="orders-totals">
  <p>Заказов: <span class="text-bold">{{ ordersCount }}</span></p>
  <p>На общую сумму: <span class="text-bold">{{ ordersSum | priceFormatter }} </span></p>
  <p>Комиссионные: <span class="text-bold">{{ ordersCommissionSum | priceFormatter }}</span></p>
</div>
</template>

<script>
import priceFormatter from 'src/filters/price-filter'
import { mapGetters } from 'vuex'

export default {
  name: 'orders-totals',
  filters: {
    priceFormatter
  },
  computed: {
    ...mapGetters('orders', ['ordersSum', 'ordersCount', 'ordersCommissionSum'])
  }
}
</script>

<style scoped>

</style>
