<template>
<div class="orders-excel-report">
  <q-btn
    label="Выгрузить"
    icon="lar la-file-excel"
    color="dark"
    class="letter-1 text-bold"
    @click="exportToExcel"
  />
</div>
</template>

<script>
import server from 'src/config/server'
import errorHandler from 'src/utils/errorHandler'
import { mapGetters, mapState } from 'vuex'
import notifier from 'src/utils/notifier'

export default {
  name: 'orders-excel-report',
  computed: {
    ...mapGetters('orders', ['filteredOrders']),
    ...mapState('orders', ['filters'])
  },
  methods: {
    async exportToExcel () {
      const date = this.$dayjs().format('DD.MM.YYYYг. hh-mm-ss')
      const reportTitle = `Заказы по состоянию на ${date}`

      if (!this.filteredOrders.length) {
        return notifier({ message: 'Нет данных для составления отчета.', color: 'negative' })
      }

      try {
        await this.$axios.post(`${server.reportsServerURI}/orders-excel-report`, {
          title: reportTitle,
          orders: this.filteredOrders,
          dateFrom: this.$dayjs(this.filters.dateFrom).format('DD.MM.YYYYг.'),
          dateTo: this.$dayjs(this.filters.dateTo).format('DD.MM.YYYYг.')
        }, {
          responseType: 'blob'
        }).then(res => {
          const url = window.URL.createObjectURL(new Blob([res.data]))
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', `${reportTitle}.xlsx`)
          document.body.appendChild(link)
          link.click()
        })
      } catch (err) {
        errorHandler(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
