<template>
<div class="links-grid">
  <div class="row q-col-gutter-md">
    <div
      v-for="link in links"
      :key="link.title"
      class="col-12 col-md-6"
    >
      <q-item
        clickable
        :to="{ name: link.routeName }"
        class="text-center bg-dark text-white rounded-borders q-py-lg"
      >
        <q-item-section>
          {{ link.title }}
        </q-item-section>
      </q-item>
    </div>
  </div>
</div>
</template>

<script>
import routesData from 'src/mixins/routes-data'

export default {
  mixins: [routesData],
  name: 'links-grid'
}
</script>

<style scoped>

</style>
