<template>
  <q-tr
    :props="props"
    :class="$q.dark.isActive ? 'bg-grey-7' : 'bg-grey-4'"
  >
    <q-th
      v-for="col in props.cols"
      :key="col.name"
      :props="props"
    >
          <span class="text-subtitle2 text-bold">
            {{ col.label }}
          </span>
    </q-th>
  </q-tr>
</template>

<script>

export default {
  name: 'orders-table-header',
  props: {
    props: {
      type: Object,
      default: () => {
      }
    }
  }
}
</script>

<style scoped>

</style>
