<template>
  <div class="tours-table q-mt-md">

    <orders-search />

    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <orders-status-select />
      </div>
      <div class="col-12 col-sm-6">
        <orders-date-range />
      </div>
    </div>

    <orders-reset-filters class="q-mt-md"/>
    <q-separator spaced/>
    <div class="row q-col-gutter-md items-center">
      <div class="col-6">
        <orders-totals />
      </div>
      <div class="col-6">
        <div class="text-right">
          <orders-excel-report />
        </div>
      </div>
    </div>

    <q-table
      :data="filteredOrders"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="tableLoading"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >

      <template v-slot:header="props">
        <orders-table-header :props="props"/>
      </template>

      <template v-slot:body="props">
        <orders-table-body :props="props"/>
      </template>
    </q-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import OrdersExcelReport from 'components/orders/orders-excel-report'
import OrdersStatusSelect from 'components/orders/orders-status-select'
import OrdersDateRange from 'components/orders/orders-date-range'
import OrdersTableHeader from 'components/orders/orders-table/orders-table-header'
import OrdersTableBody from 'components/orders/orders-table/orders-table-body'
import OrdersSearch from 'components/orders/orders-search'
import OrdersTotals from 'components/orders/orders-totals'
import OrdersResetFilters from 'components/orders/orders-reset-filters'

export default {
  name: 'orders-table',
  components: { OrdersResetFilters, OrdersTotals, OrdersSearch, OrdersTableBody, OrdersTableHeader, OrdersDateRange, OrdersStatusSelect, OrdersExcelReport },
  computed: {
    ...mapGetters('orders', ['filteredOrders'])
  },
  data () {
    return {
      searchText: '',
      tableLoading: false,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'id',
          required: true,
          label: 'Id',
          align: 'left'
        },
        {
          name: 'info',
          required: true,
          label: 'Инфо',
          align: 'left'
        },
        {
          name: 'date',
          required: true,
          label: 'Создан',
          align: 'left'
        },
        {
          name: 'price',
          required: true,
          label: 'Цена/комиссия',
          align: 'left'
        },
        {
          name: 'status',
          required: true,
          label: 'Статус',
          align: 'left'
        }
      ]
    }
  },
  methods: {
    ...mapActions('orders', ['loadOrders']),
    async loadData () {
      this.tableLoading = true
      await this.loadOrders()
      this.tableLoading = false
    }
  },
  created () {
    this.loadData()
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    }
  }
}
</script>

<style lang="sass">
.qr-code
  transition: .3s all
  &:hover
    transform: scale(2.2)
</style>
