<template>
  <q-tr :props="props">
    <q-td key="id" :props="props">
      <div class="flex items-center">
        <div class="relative-position" style="width: 30px; height: 30px">
          <q-img :src="getQr(props.row)" class="absolute fit qr-code"/>
        </div>
        <div class="q-ml-sm">{{ props.row.id }}</div>
      </div>

    </q-td>
    <q-td key="info" :props="props">
      <div class="flex items-center">
        <order-info-detail-card :profile="props.row.profile" :seller="props.row.seller" :offer="props.row.offer" :tour-name="props.row.tour_name"/>
      </div>
    </q-td>

    <q-td key="date" :props="props">
      {{ props.row.createdAt | dateTimeFilter }}
    </q-td>

    <q-td key="price" :props="props">
      {{ props.row.price | priceFormatter }} / {{ props.row.commission | priceFormatter }}
    </q-td>

    <q-td key="status" :props="props">
      {{ props.row.canceled ? 'Отменен' : props.row.activated ? 'Выполнен' : props.row.seller_confirmed ? 'В работе' : 'В ожидании' }}
    </q-td>
  </q-tr>
</template>

<script>
import OrderInfoDetailCard from 'components/orders/order-info-detail-card'
import server from 'src/config/server'
import dateTimeFilter from 'src/filters/date-time-filter'
import priceFormatter from 'src/filters/price-filter'

export default {
  name: 'orders-table-body',
  components: { OrderInfoDetailCard },
  filters: {
    dateTimeFilter, priceFormatter
  },
  props: {
    props: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    getQr (order) {
      return `${server.serverURI}${order.qrcode_url}`
    }
  }
}
</script>

<style scoped>

</style>
