<template>
<div class="page-title text-h5 text text-bold">{{ title }}</div>
</template>

<script>
export default {
  name: 'base-page-title',
  props: {
    title: String
  }
}
</script>

<style scoped>

</style>
