<template>
  <div class="payments-status-select">
    <p class="text-subtitle1 text-bold">Статус:</p>
    <q-option-group
      v-model="ordersStatus"
      :options="filters.statusOptions"
      color="primary"
      class="q-mt-sm"
    />
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'payments-status-select',
  computed: {
    ...mapState('payments', ['filters']),
    ordersStatus: {
      get: function () {
        return this.filters.status
      },
      set: function (value) {
        this.mutationsFilters({ field: 'status', value })
      }
    }
  },
  methods: {
    ...mapMutations('payments', ['mutationsFilters'])
  }
}
</script>

<style scoped>

</style>
