<template>
  <q-input
    label="Поиск"
    v-model="searchText"
    outlined dense clearable
    hint="ID или имя профиля"
    class="q-my-md"
    @clear="mutationsFilters({field: 'searchText', value: ''})"
  />
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  name: 'payments-search',
  computed: {
    ...mapState('payments', ['filters']),
    searchText: {
      get: function () {
        return this.filters.searchText
      },
      set: function (value) {
        this.mutationsFilters({ field: 'searchText', value })
      }
    }
  },
  methods: {
    ...mapMutations('payments', ['mutationsFilters'])
  }
}
</script>

<style scoped>

</style>
