<template>
  <div>
    <q-btn
      :label="profile.is_tourist ? 'Турист' : 'Гид'"
      icon="search"
      dense no-caps no-wrap
      class="q-mr-sm q-px-md"
      :loading="loading"
      @click="showDetailCard"
    />
    <q-dialog v-model="dialog">

      <q-card style="width: 550px; max-width: 100%">
        <q-toolbar class="bg-dark text-white">
          <q-toolbar-title>Информация</q-toolbar-title>
          <q-btn icon="close" dense flat v-close-popup/>
        </q-toolbar>
        <q-scroll-area style="height: 60vh" tabindex="10">
          <!--Profile-->
          <q-card-section class="">
            <base-section-title :title="profile.is_tourist ? 'Профиль туриста' : 'Профиль гида'"/>
            <div class="row items-center q-col-gutter-md">
              <div class="col-12 col-sm-6">
                <q-avatar square class="rounded-borders fit">
                  <q-img :src="profile.photo_url" class="rounded-borders"/>
                </q-avatar>
              </div>

              <div class="col-12 col-sm-6">
                <p>
                  ID: {{ profile.id }}
                  <copy-to-clipboard :value="profile.id"/>
                </p>
                <p>Имя: {{ profile.name }}</p>
                <p>Email: {{ profile.email }}</p>
                <p>Телефон: {{ profile.phone_number }}</p>
                <p>Язык: {{ profile.locale }}</p>
                <p>Баланс: {{ profile.balance }}$</p>
                <p>Зарегистрирован: {{ profile.createdAt | dateTimeFilter }}</p>
              </div>
            </div>
          </q-card-section>

          <!--          Offers-->
          <q-card-section v-if="profileDetail && profileDetail.offers && profileDetail.offers.length">
            <base-section-title :title="`Оферы (${profileDetail.offers.length})`"/>
            <q-list separator bordered>
              <q-item
                  class="column"
                  v-for="offer in profileDetail.offers"
                  :key="offer.id"
              >
                <p class="block">
                  ID: {{ offer.id }}
                  <base-copy-ti-clip :value="offer.id"/>
                </p>
                <p>
                  {{ offer.createdAt | dateTimeFilter }}
                </p>
                <p class="text-bold">
                  {{ offer.adult_price | priceFormatter }} / {{ offer.child_price | priceFormatter }}
                </p>

              </q-item>
            </q-list>

          </q-card-section>

          <!--          Payments-->
          <q-card-section v-if="profileDetail && profileDetail.payments && profileDetail.payments.length">
            <base-section-title :title="`Выплаты (Сумма ${getPaymentsSum(profileDetail.payments)}$ / ${getActivatedPaymentsSum(profileDetail.payments)}$)`"/>
            <q-list separator bordered>
              <q-item
                  class="column"
                  v-for="payment in profileDetail.payments"
                  :key="payment.id"
              >
                <p class="block">
                  ID: {{ payment.id }}
                  <base-copy-ti-clip :value="payment.id"/>
                </p>
                <div>
                  {{ payment.createdAt | dateTimeFilter }}
                </div>
                <div class="text-bold">
                  {{ payment.sum | priceFormatter }}
                </div>
                <div v-if="payment.completed" class="text-positive">
                  Выплачено
                </div>
                <div v-else-if="payment.canceled" class="text-negative">
                  Отклонено
                </div>
                <div v-else>
                  В ожидании
                </div>

              </q-item>
            </q-list>

          </q-card-section>

          <!--          Orders-->
          <q-card-section v-if="profileDetail && profileDetail.orders && profileDetail.orders.length">
            <base-section-title :title="`Заказы (Сумма ${getOrdersSum(profileDetail.orders)}$ / ${getActivatedOrdersSum(profileDetail.orders)}$)`"/>
            <q-list separator bordered>
              <q-item
                  class="column"
                v-for="order in profileDetail.orders"
                :key="order.id"
              >
                <p class="block">
                  ID: {{ order.id }}
                  <base-copy-ti-clip :value="order.id"/>
                </p>
                <div>
                  {{ order.createdAt | dateTimeFilter }}
                </div>
                <div class="text-bold">
                  {{ order.price | priceFormatter }}
                </div>
                <div v-if="order.activated" class="text-positive">
                  Активирован
                </div>
                <div v-else-if="order.canceled" class="text-negative">
                  Отменен
                </div>
                <div v-else>
                  В работе
                </div>

              </q-item>
            </q-list>

          </q-card-section>

<!--          Sold orders-->
          <q-card-section v-if="profileDetail && profileDetail.soldOrders && profileDetail.soldOrders.length">
            <base-section-title :title="`Продажи (Сумма ${getOrdersSum(profileDetail.soldOrders)}$ / ${getActivatedOrdersSum(profileDetail.soldOrders)}$)`"/>
            <q-list separator bordered>
              <q-item
                  v-for="order in profileDetail.soldOrders"
                  :key="order.id"
                  class="column"
              >
                <div>
                  {{ order.createdAt | dateTimeFilter }}
                </div>
                <div class="text-bold">
                  {{ order.price | priceFormatter }}
                </div>
                <div v-if="order.activated" class="text-positive">
                  Активирован
                </div>
                <div v-else-if="order.canceled" class="text-negative">
                  Отменен
                </div>
                <div v-else>В работе</div>

              </q-item>
            </q-list>

          </q-card-section>
        </q-scroll-area>
        <q-card-section>
          <q-btn label="закрыть" class="full-width" v-close-popup outline/>
        </q-card-section>
      </q-card>

    </q-dialog>
  </div>
</template>

<script>
import dateTimeFilter from 'src/filters/date-time-filter'
import priceFormatter from 'src/filters/price-filter'
import BaseSectionTitle from 'components/base-section-title'
import CopyToClipboard from 'components/utils/copy-to-clipboard'
import { mapActions, mapState } from 'vuex'
import BaseCopyTiClip from 'components/base-copy-ti-clip'

export default {
  name: 'payment-profile-detail-card',
  components: { BaseCopyTiClip, CopyToClipboard, BaseSectionTitle },
  filters: {
    dateTimeFilter, priceFormatter
  },
  props: {
    profile: {
      type: Object,
      default: () => {
      }
    }
  },
  computed: {
    ...mapState('profile', { profileDetail: 'profile' })
  },
  data () {
    return {
      dialog: false,
      loading: false
    }
  },
  methods: {
    ...mapActions('profile', ['loadProfile']),
    async showDetailCard () {
      this.loading = true
      await this.loadProfile(this.profile.uid)
      this.loading = false
      this.dialog = true
    },

    getOrdersSum (orders) {
      let sum = 0
      orders.forEach(item => {
        sum += Number(item.price)
      })
      return sum
    },

    getPaymentsSum (payments) {
      let sum = 0
      payments.forEach(item => {
        sum += Number(item.sum)
      })
      return sum
    },

    getActivatedOrdersSum (orders) {
      let sum = 0
      orders.forEach(item => {
        if (item.activated) sum += Number(item.price)
      })
      return sum
    },

    getActivatedPaymentsSum (payments) {
      let sum = 0
      payments.forEach(item => {
        if (item.completed) sum += Number(item.sum)
      })
      return sum
    }
  }
}
</script>

<style scoped>

</style>
