<template>
  <div class="payments-totals">
    <p>Заявки на выплаты: <span class="text-bold">{{ paymentsCount }}</span></p>
    <p>На общую сумму: <span class="text-bold">{{ paymentsSum | priceFormatter }} </span></p>
  </div>
</template>

<script>
import priceFormatter from 'src/filters/price-filter'
import { mapGetters } from 'vuex'

export default {
  name: 'payments-totals',
  filters: {
    priceFormatter
  },
  computed: {
    ...mapGetters('payments', ['paymentsCount', 'paymentsSum'])
  }
}
</script>

<style scoped>

</style>
