<template>
  <div class="text-right q-mb-md">
    <q-btn
      label="Сбросить фильтры"
      outline no-caps
      :disable="!canResetFilters"
      @click="resetFilters()"
    />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapState } from 'vuex'

export default {
  name: 'payments-reset-filter',
  computed: {
    ...mapState('payments', ['canResetFilters'])
  },
  methods: {
    ...mapMutations('payments', ['mutationsFilters', 'mutationsCanResetFilters']),
    ...mapActions('payments', ['loadPayments']),
    resetFilters () {
      this.mutationsFilters({ field: 'dateFrom', value: new Date(new Date().setHours(0)) })
      this.mutationsFilters({ field: 'dateTo', value: new Date() })
      this.mutationsFilters({ field: 'status', value: 'all' })
      this.loadPayments()
      this.mutationsCanResetFilters(false)
    }
  }
}
</script>

<style scoped>

</style>
