<template>
  <div class="payments-table q-mt-md">

    <payments-search />

    <div class="row q-col-gutter-md">
      <div class="col-12 col-sm-6">
        <payments-status-select />
      </div>
      <div class="col-12 col-sm-6">
        <payments-date-range />
      </div>
    </div>

    <payments-reset-filter class="q-mt-md"/>

    <q-separator spaced/>
    <div class="row q-col-gutter-md items-center">
      <div class="col-6">
        <payments-totals/>
      </div>
      <div class="col-6">
        <div class="text-right">
          <payments-excel-report />
        </div>
      </div>
    </div>

    <q-table
      :data="filteredPayments"
      :columns="columns"
      separator="cell"
      class="q-mt-md shadow-0"
      hide-no-data bordered
      :loading="tableLoading"
      style="max-width: 100%"
      row-key="index"
      virtual-scroll
      :pagination.sync="pagination"
      :rows-per-page-options="[0]"
    >
      <template v-slot:header="props">
        <payments-table-header :props="props"/>
      </template>

      <template v-slot:body="props">
        <payments-table-body :props="props"/>
      </template>
    </q-table>
  </div>
</template>

<script>
import PaymentsSearch from 'components/payments/payments-search'
import PaymentsStatusSelect from 'components/payments/payments-status-select'
import PaymentsDateRange from 'components/payments/payments-date-range'
import PaymentsResetFilter from 'components/payments/payments-reset-filter'
import PaymentsTotals from 'components/payments/payments-totals'
import PaymentsExcelReport from 'components/payments/payments-excel-report'
import { mapActions, mapGetters } from 'vuex'
import PaymentsTableHeader from 'components/payments/payments-table/payments-table-header'
import PaymentsTableBody from 'components/payments/payments-table/payments-table-body'
export default {
  name: 'payments-table',
  components: { PaymentsTableBody, PaymentsTableHeader, PaymentsExcelReport, PaymentsTotals, PaymentsResetFilter, PaymentsDateRange, PaymentsStatusSelect, PaymentsSearch },
  computed: {
    ...mapGetters('payments', ['filteredPayments'])
  },
  data () {
    return {
      searchText: '',
      tableLoading: false,
      pagination: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: 'paymentId',
          required: true,
          label: 'Id выплаты',
          align: 'left'
        },
        {
          name: 'card',
          required: true,
          label: 'Карта',
          align: 'left'
        },
        {
          name: 'info',
          required: true,
          label: 'Профиль',
          align: 'left'
        },
        {
          name: 'date',
          required: true,
          label: 'Создан',
          align: 'left'
        },
        {
          name: 'sum',
          required: true,
          label: 'Сумма',
          align: 'left'
        },
        {
          name: 'status',
          required: true,
          label: 'Статус',
          align: 'left'
        }
      ]
    }
  },
  methods: {
    ...mapActions('payments', ['loadPayments']),
    async loadData () {
      this.tableLoading = true
      await this.loadPayments()
      this.tableLoading = false
    }
  },
  created () {
    this.loadData()
  },
  watch: {
    searchText (val) {
      if (val === null) this.searchText = ''
    }
  }
}
</script>

<style scoped>

</style>
