<template>
  <q-tr :props="props">
    <q-td key="paymentId" :props="props">
        <div class="q-ml-sm">{{ props.row.id }}</div>
    </q-td>
    <q-td key="card" :props="props">
      <div class="q-ml-sm">{{ props.row.payment_card.number }}</div>
      <div class="q-ml-sm">{{ props.row.payment_card.name }}</div>
      <div class="q-ml-sm">{{ props.row.payment_card.iban }}</div>
    </q-td>
    <q-td key="info" :props="props">
      <div class="flex items-center">
        <payment-profile-detail-card :profile="props.row.profile"/>
      </div>
    </q-td>

    <q-td key="date" :props="props">
      {{ props.row.createdAt | dateTimeFilter }}
    </q-td>

    <q-td key="sum" :props="props">
      {{ props.row.sum | priceFormatter }}
    </q-td>

    <q-td key="status" :props="props">
      {{ props.row.canceled ? 'Отклонен' : props.row.completed ? 'Выплачен' : 'В ожидании' }}
    </q-td>
  </q-tr>
</template>

<script>
import PaymentProfileDetailCard from 'components/payments/payment-profile-detail-card'
import dateTimeFilter from 'src/filters/date-time-filter'
import priceFormatter from 'src/filters/price-filter'
import server from 'src/config/server'
export default {
  name: 'payments-table-body',
  components: { PaymentProfileDetailCard },
  filters: {
    dateTimeFilter, priceFormatter
  },
  props: {
    props: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    getQr (order) {
      return `${server.serverURI}${order.qrcode_url}`
    }
  }
}
</script>

<style scoped>

</style>
