<template>
<q-page class="q-pa-md">
<base-page-title title="Заказы"/>
  <orders-table />
</q-page>
</template>

<script>
import BasePageTitle from 'components/base-page-title'
import OrdersTable from 'components/orders/orders-table/orders-table'
export default {
  name: 'Orders',
  components: { OrdersTable, BasePageTitle }
}
</script>

<style scoped>

</style>
