<template>
  <q-btn
    :label="$t('copy')"
    icon="las la-copy"
    no-caps size="sm" outline dense flat
    color="accent"
    class=""
    style="margin-top: -15px"
    @click="copyToClipboard(value)"
  />
</template>

<script>
import { copyToClipboard } from 'quasar'
import notifier from 'src/utils/notifier'

export default {
  name: 'copy-to-clipboard',
  props: {
    value: String
  },
  methods: {
    copyToClipboard (value) {
      copyToClipboard(value)
        .then(() => {
          notifier({
            message: 'Скопировано',
            color: 'positive'
          })
        })
    }
  }
}
</script>

<style scoped>

</style>
