<template>
<div class="theme-switcher">
  <q-toggle
    v-model="dark"
    :icon="dark ? 'las la-moon ' : 'las la-sun'"
    @input="setTheme"
  />
</div>
</template>

<script>
export default {
  name: 'theme-switcher',
  data () {
    return {
      dark: false
    }
  },
  created () {
    const darkTheme = localStorage.getItem('darkTheme') === 'true'
    this.dark = darkTheme
    this.$q.dark.set(darkTheme)
  },
  methods: {
    setTheme () {
      this.$q.dark.toggle()
      localStorage.setItem('darkTheme', this.dark)
    }
  }
}
</script>

<style scoped>

</style>
